body{
    background-color: rgb(68, 66, 66);
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas1{
    background-color: lightgray;
}

#group-btn{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#save{
    border: none;
    padding: 7px 5px 5px 7px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
}

#clear{
    border: none;
    padding: 7px 5px 5px 7px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
}